.divBackground{
    background-image: url("../../assets/fundal.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.progressStyle{
    width: 100%;
    height:100vh;
    /* margin-left: 37%;
    margin-top: 20%; */
}