.divListaMedici{
    width: 90%;
    height: 100vh;
    margin: auto;
   margin-top: 6%;
}
.divMedici{
    background-image:url("../../assets/welcomeimg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:scroll;
}