.headerDiv{
   position: absolute;
  overflow: visible;
  color: rgb(196, 188, 179);
  overflow: auto;
  width: 100px;
  height: 110px;
  background-color:#252525e3;
}
.textlistaMedici{
  color: bisque;
}