.divCard{
    background-color: rgb(124, 19, 98);
    width:60%;
    height: 35%;
    margin: auto;
    margin-bottom: 2%;
}
.divImgCabinet{
    width: 15%;
    height: 50%;
    margin-left: 2%;
    float: left;
}
.imgStyle{
    width: 100%;
    height:100%;
    margin-top: 12%;
}
.rating{
    margin-top: 3%;
    margin-left: 3%;

}
.divDate{
    float: left;
    margin-left: 10%;
    margin-top: 2.5%;
    
}
.buttonDetalii{
    background-color: rgba(76, 175, 79, 0);
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20%;
    margin-left: 23%;
    cursor: pointer;
    align-self: flex-end;
}