
.div{
    background-image: url("../../assets/fundal.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.divCartonas{
    width: 80%;
    height: 60%;
    background-color: rgba(71, 30, 95, 0.377);
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    
}
.p{
    text-align: center;
    color:black;
    size: 5%;
    margin-top: 4%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.imgMica{
    width: 80%;
    height:40%;
}
.stilChenar{
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 60%;
    background-color: brown;
}
.styleRating{
    float: left;
    width: 20%;
    height:90%;
    margin-top: 2.5%;
    margin-left: 3%;
}
.ratingParagraf{
    padding-top: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 10px;
    color: white;
}
