.divContent{
    background-color: rgba(118, 111, 134, 0.459);
    margin-left: 15%;
    margin-right: 5%;
    border-radius: 20%;
    
}

.btnStyle{
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(7, 63, 44, 0.658);

}

.labelStyles{
    padding-top: 2%;
    margin-right: 5%;
   

}


.formStyle{
   padding: 7%;
}
.specializariStyle{
    width: 80%;
    height: 20%;
}
.inputError{
    border-style: solid;
    border-color: rgb(180, 15, 15);
    border-radius: 8%;
}


